.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.dta
*.grd
*.gri
*.vrt
*.csv
!full_panel.csv
*.txt
*.flt
*.hdr
*.cpg
*.dbf
*.lyr
*.prj
*.shp
*.xml
*.shx
*.rds
*.sbn
*.sbx
*.xlsx
*.html
presentation_materials/
code/inactive/
code/windows/
data/rainfall/
.DS_Store